<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Delete item</title>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/pagesStyle.css}" />
</head>
<body>
    <form method="post" th:action="@{/api/items/delete}" th:object="${deleteItemDTO}">
        <div><label for="id"> Item id: <input type="text" name="id"/> </label></div>
        <div><label for="reason"> Deletion reason: <input type="text" name="reason"/> </label></div>
        <div><input type="submit" value="Delete!"/></div>
    </form>
    <div style="margin-top: 5px">
        <p style="margin: 0" th:each="error: ${errors}">
            <span th:text="${error}"> error </span>
        </p>
    </div>
</body>
</html>