<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/pagesStyle.css}" />
    <title>Item page</title>
</head>
<body>
    <h1>Item information:</h1>
    <div class="item_preview">
        <img class="book_image" th:src="@{/{imageURL}(imageURL=${item.imageURL})}" alt="Book image">
        <p><strong>Item name:</strong> "<span th:text="${item.name}">ITEM NAME</span>"</p>
        <p><strong>Item description:</strong> "<span th:text="${item.description}">ITEM DESCRIPTION</span>"</p>
        <p><strong>Item author:</strong> "<span th:text="${item.author}"> ITEM AUTHOR</span>"</p>
        <p><strong>Item price:</strong> <span th:text="${item.price}"> ITEM PRICE</span></p>
        <div class="buttons_container">
            <form method="post" th:action="@{/cart?id={id}(id=${item.id})}"><input class="submit_input" type="submit" value="Add to cart!"/></form>
            <form method="post" th:action="@{/error}"><input class="submit_input" type="submit" value="Buy now!"/></form>
        </div>
    </div>
</body>
</html>