<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" >
<head>
    <title>All items</title>
    <link rel="stylesheet"  type="text/css" th:href="@{/css/pagesStyle.css}" />
</head>
<body>
    <div>
        <div class="welcome_title">
            <h1 sec:authorize="isAnonymous()">          Hello,            <span class="username">Anonymous                           </span>! Don't forget to log in!</h1>
            <h1 sec:authorize="isFullyAuthenticated()"> Welcome back dear <span class="username" sec:authentication="name"> USERNAME </span>!                        </h1>
        </div>

        <div class="top_navigation">
            <div class="left_corner_buttons">
                <a th:href="@{/create}"> <input type="submit" value="Add new item!"/> </a>
                <a href="https://t.me/my_resale_notification_bot" th:target="_blank"><input style="background-color: #33ccff" type="submit" value="Join telegram!"/></a>
            </div>

                <form th:method="GET" th:action="@{/items}" class="search_bar">
                    <input id="search" type="text" th:name="keyword" placeholder="Search..."/>
                </form>

            <div class="right_corner_buttons">
                <div sec:authorize="isAnonymous()">
                    <a th:href="@{/registration}"><input type="submit" value="Registration"/></a>
                    <a th:href="@{/login}"><input type="submit" value="Login"/></a>
                </div>
                <div sec:authorize="isFullyAuthenticated()">
                    <form method="get" th:action="@{/logout}"><input type="submit" value="Logout"/></form>
                    <a th:href="@{/cart}"><input type="submit" value="Your cart"/></a>
                </div>
            </div>
        </div>
    </div>
    <div class="items_list">
        <div class="item" th:each="item:${items}">
            <a th:href="@{/items/{id}(id=${item.id})}"> <img class="book_image" th:src="@{/{link}(link=${item.imageURL})}" alt="Book image!"/></a>
            <p><strong>Item name:       </strong> "<span th:text="${item.name}">              ITEM NAME</span>"</p>
            <p><strong>Item description:</strong> "<span th:text="${item.description}">ITEM DESCRIPTION</span>"</p>
            <p><strong>Item author:     </strong> "<span th:text="${item.author}">          ITEM AUTHOR</span>"</p>
            <p><strong>Item price:      </strong>  <span th:text="${item.price}">            ITEM PRICE</span> </p>
            <p><strong>Creator:         </strong>  <span th:text="${item.createdBy.username}"> CREATOR </span> </p>
            <p><strong>Creation date:   </strong>  <span th:text="${#dates.format(item.createdAt, 'dd.MM / HH:mm')}">   CREATION DATE </span> </p>

            <div th:if="${item.available}" class="buttons_container">
                <form method="post" th:action="@{/cart?id={id}(id=${item.id})}"><input class="submit_input" type="submit" value="Add to cart!"/></form>
                <a th:href="@{/purchase/{id}(id=${item.id})}"><input class="submit_input" type="submit" value="Buy now!"/></a>
            </div>
            <div th:unless="${item.available}" class="unavailable_item">
                <strong>Item unavailable!</strong>
            </div>
        </div>
    </div>
    <div>
        <h2> That's all! </h2>
    </div>
</body>
</html>